/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
    color: #222;
}

/* NAVBAR */

.navbar {
    background: #0b4f2f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
    flex-wrap: wrap;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
}

.logo-section h1 {
    font-size: 22px;
    line-height: 1.3;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffd700;
}

/* HERO */

.hero {
    height: 90vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
        url('hero.jpg');

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero-content h2 {
    font-size: 35px;
}

.hero-content h1 {
    font-size: 55px;
    margin: 15px 0;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 20px;
}

.hero-content button {
    padding: 12px 28px;
    font-size: 18px;
    border: none;
    background: #ffd700;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.hero-content button:hover {
    background: white;
}

/* ABOUT */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 80px 8%;
    flex-wrap: wrap;
}

.about-text {
    flex: 1;
    min-width: 300px;
}

.about-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #0b4f2f;
}

.about-text p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 15px;
}

.about-image {
    flex: 1;
    min-width: 300px;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
}

/* GALLERY */

.gallery {
    padding: 70px 8%;
    background: white;
}

.gallery h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    color: #0b4f2f;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.gallery-box img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.4s;
}

.gallery-box img:hover {
    transform: scale(1.05);
}

/* OWNER */

.owner-section {
    padding: 70px 8%;
    text-align: center;
}

.owner-card {
    background: white;
    padding: 40px;
    max-width: 400px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.owner-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.owner-card h2 {
    color: #0b4f2f;
    margin-bottom: 10px;
}

/* CONTACT */

.contact {
    background: #0b4f2f;
    color: white;
    padding: 70px 8%;
}

.contact h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.contact-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 25px;
    border-radius: 10px;
}

.contact-box h3 {
    margin-bottom: 15px;
    color: #ffd700;
}

.contact-box a {
    color: white;
    text-decoration: none;
}

/* FOOTER */

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
}

/* RESPONSIVE */

@media(max-width:768px) {

    .hero-content h1 {
        font-size: 35px;
    }

    .hero-content h2 {
        font-size: 25px;
    }

    .nav-links {
        margin-top: 15px;
    }
}

/* ADMISSION SECTION */

.admission {
    background: #0b4f2f;
    color: white;
    text-align: center;
    padding: 70px 20px;
}

.admission h2 {
    font-size: 42px;
    margin-bottom: 20px;
    color: #ffd700;
}

.admission p {
    font-size: 20px;
    max-width: 700px;
    margin: auto;
    line-height: 1.8;
    margin-bottom: 25px;
}

.admission button {
    padding: 14px 30px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    background: #ffd700;
    cursor: pointer;
    transition: 0.3s;
}

.admission button:hover {
    background: white;
}

/* MAP SECTION */

.map-section {
    padding: 70px 8%;
    background: white;
}

.map-section h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    color: #0b4f2f;
}

.map-section iframe {
    border-radius: 12px;
}

/* ISLAMIC CALENDAR */

.calendar-section {
    padding: 70px 8%;
    background: #f8f8f8;
    text-align: center;
}

.calendar-section h2 {
    font-size: 40px;
    color: #0b4f2f;
    margin-bottom: 30px;
}

.calendar-box {
    background: white;
    max-width: 500px;
    margin: auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.calendar-box h3 {
    font-size: 30px;
    color: #0b4f2f;
    margin-bottom: 15px;
}

.calendar-box p {
    font-size: 20px;
    color: #555;
}

/* QURAN SECTION */

.quran-section {
    padding: 70px 8%;
    background: white;
    text-align: center;
}

.quran-section h2 {
    font-size: 40px;
    color: #0b4f2f;
    margin-bottom: 30px;
}

.quran-box {
    max-width: 800px;
    margin: auto;
    background: #f5f5f5;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quran-box p {
    font-size: 24px;
    line-height: 1.8;
    color: #333;
    font-style: italic;
}

/* HADITH SECTION */

.hadith-section {
    padding: 70px 8%;
    background: #0b4f2f;
    text-align: center;
    color: white;
}

.hadith-section h2 {
    font-size: 40px;
    margin-bottom: 30px;
    color: #ffd700;
}

.hadith-box {
    max-width: 800px;
    margin: auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 15px;
}

.hadith-box p {
    font-size: 24px;
    line-height: 1.8;
}

/* PRAYER TIMING */

.prayer-section {
    padding: 70px 8%;
    background: #f8f8f8;
    text-align: center;
}

.prayer-section h2 {
    font-size: 40px;
    margin-bottom: 40px;
    color: #0b4f2f;
}

.prayer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.prayer-box {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.prayer-box:hover {
    transform: translateY(-8px);
}

.prayer-box h3 {
    color: #0b4f2f;
    margin-bottom: 10px;
    font-size: 28px;
}

.prayer-box p {
    font-size: 22px;
    color: #444;
}

/* NOTICE BOARD */

.notice-section{
    padding:70px 8%;
    background:white;
    text-align:center;
}

.notice-section h2{
    font-size:40px;
    color:#0b4f2f;
    margin-bottom:30px;
}

.notice-box{
    max-width:800px;
    margin:auto;
    background:#f5f5f5;
    padding:35px;
    border-left:6px solid #0b4f2f;
    border-radius:15px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.notice-box p{
    font-size:22px;
    color:#333;
    line-height:1.7;
}

/* ARABIC TITLE */

.arabic-title{
    font-size:55px;
    color:#ffd700;
    margin-bottom:20px;
    direction:rtl;
    text-align:center;
    line-height:1.7;
    text-shadow:0 0 15px rgba(255,215,0,0.5);
}

/* MOBILE */

@media(max-width:768px){

    .arabic-title{
        font-size:34px;
    }

}
